<!-- app rebbon -->
<div class="container main-elements">
    <!-- bs 4 -->
    <h5>Top Apps</h5>
    <div class="containers">
      <!-- custom class -->
      <div class="slider-container">
        <!-- custom class -->
        <div class="slides">
          <!-- row -->
          <div class="slide">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 120px; width: 120px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 120px; width: 120px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 120px; width: 120px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 120px; width: 120px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 120px; width: 120px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 120px; width: 120px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 120px; width: 120px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 120px; width: 120px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 120px; width: 120px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <!-- Repeat the above 'col-sm-2' div for each app icon -->
        </div>
      </div>
    </div>
    <div class="button-container">
      <button onclick="prevSlide(0)">Prev</button>
      <button onclick="nextSlide(0)">Next</button>
    </div>
  </div>