<div class="container main-elements">
  <h5>Top chart</h5>
  <div class="containers">
    <div class="slider-container">
        <div class="slides">
            <div class="slide" style="margin-right: 200px; margin-left: 75px;">
                <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
                  <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
                  <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
            </div>
            <div class="slide" style="margin-right: 200px;">
                <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
                  <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
                  <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
            </div>
            <div class="slide" style="margin-right: 200px;">
                <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
                  <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
                  <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
            </div>
            <div class="slide" style="margin-right: 200px;">
                <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
                  <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
                  <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
            </div>
            <div class="slide" style="margin-right: 200px;">
                <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
                  <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
                  <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
            </div>
            <div class="slide" style="margin-right: 200px;">
                <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
                  <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
                  <div class="media mb-5">
                    <img
                      class="mr-3"
                      style="height: 64px; width: 64px;border-radius: 15px;"
                      src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                      alt="64X64"
                    />
                    <div class="media-body">
                      <h6 class="mt-0">Whatsapp</h6>
                      <p>Communication</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  </div>
  <div class="button-container">
    <button onclick="prevSlide({{buttonId}})">Prev</button>
    <button onclick="nextSlide({{buttonId}})">Next</button>
  </div>
</div>
