<!-- app cover -->
<div class="container main-elements">
    <h5>Top Games</h5>
    <div class="row">
      <div class="col-4">
        <img
          src="https://images3.alphacoders.com/127/1278569.jpg"
          class="custom-slide-images"
        />

        <div class="d-flex mt-3 ml-2">
          <div class="img">
            <img
              src="https://yt3.ggpht.com/ZwLhDRh72Bbqde1-zrKQIY6qOIdYgAAleV27d0sJjsqVzMAstqq7jvz9wahthJaKHiFonvk1Ew=s48-c-k-c0x00ffffff-no-rj"
              class="custom-slide-app-image"
              alt="Video Thumbnail"
            />
          </div>
          <div class="discription ml-2">
            <h5>CarX Highway Racing</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <img
          src="https://images3.alphacoders.com/127/1278569.jpg"
          class="custom-slide-images"
        />
        <div class="d-flex mt-3 ml-2">
          <div>
            <img
              src="https://play-lh.googleusercontent.com/oFz-KTIgL6yAuuA5XeHapTQLDcoBVgA9JXCTiID70rPcJBGAT9DdiqNDjNLxcYaG6W3W=s64-rw"
              class="custom-slide-app-image"
              alt="Video Thumbnail"
            />
          </div>
          <div class="discription">
            <h5>The Ultimate Clash</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <img
          src="https://images3.alphacoders.com/127/1278569.jpg"
          class="custom-slide-images"
        />
        <div class="d-flex mt-3 ml-2">
          <div class="m">
            <img
              src="https://play-lh.googleusercontent.com/GZjn8tE4QG8vUY40DkowDRv63fHFaSxGCB57bM4drYFA3kgD2Hxq6SJjp3ix7Eur-g=s64-rw"
              class="custom-slide-app-image"
              alt="Video Thumbnail"
            />
          </div>
          <div class="discription">
            <h5>State of Survival V1.12</h5>
          </div>
        </div>
      </div>
    </div>
  </div>