{% extends "comit/base.html" %}

{% block title %} index{% endblock %} 

{% block body %} 
    {% include "comit/nav-bar.html" %}

    {% include "comit/big-banner.html" %}
    {% include "comit/app-rebbon.html" with buttonId="0" %}
    {% include "comit/app-rebbon.html" with buttonId="1" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselid="one" %}



    {% include "comit/app-rebbon.html" with buttonId="2" %}
    {% include "comit/app-rebbon.html" with buttonId="3" %}
    {% include "comit/app-rebbon.html" with buttonId="4" %}
    {% include "comit/app-rebbon.html" with buttonId="5" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="6" %}

    {% include "comit/app-rebbon.html" with buttonId="7" %}
    {% include "comit/app-rebbon.html" with buttonId="8" %}

    {% include "comit/app-chart.html" with buttonId="9" %}
    {% include "comit/app-cover.html" %}

    {% include "comit/app-rebbon.html" with buttonId="10" %}
    {% include "comit/app-rebbon.html" with buttonId="11" %}

    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="12" %}

    {% include "comit/app-rebbon.html" with buttonId="13" %}
    {% include "comit/app-rebbon.html" with buttonId="14" %}
    {% include "comit/app-rebbon.html" with buttonId="15" %}
    {% include "comit/app-rebbon.html" with buttonId="16" %}

    {% include "comit/app-cover.html" %}

    {% include "comit/app-chart.html" with buttonId="17" %}

    {% include "comit/app-rebbon.html" with buttonId="20" %}
    {% include "comit/app-rebbon.html" with buttonId="19" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselid="one" %}

    {% include "comit/app-rebbon.html" with buttonId="20" %}
    {% include "comit/app-rebbon.html" with buttonId="21" %}
    {% include "comit/app-rebbon.html" with buttonId="22" %}
    {% include "comit/app-rebbon.html" with buttonId="23" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="24" %}

    {% include "comit/app-rebbon.html" with buttonId="25" %}
    {% include "comit/app-rebbon.html" with buttonId="26" %}

    {% include "comit/app-chart.html" with buttonId="27" %}
    {% include "comit/app-cover.html" %}

    {% include "comit/app-rebbon.html" with buttonId="28" %}
    {% include "comit/app-rebbon.html" with buttonId="29" %}

    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="30" %}

    {% include "comit/app-rebbon.html" with buttonId="31" %}
    {% include "comit/app-rebbon.html" with buttonId="32" %}
    {% include "comit/app-rebbon.html" with buttonId="33" %}
    {% include "comit/app-rebbon.html" with buttonId="34" %}

    {% include "comit/app-cover.html" %}

    {% include "comit/app-chart.html" with buttonId="35" %}

    {% include "comit/app-rebbon.html" with buttonId="36" %}
    {% include "comit/app-rebbon.html" with buttonId="37" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselid="one" %}



    {% include "comit/app-rebbon.html" with buttonId="38" %}
    {% include "comit/app-rebbon.html" with buttonId="39" %}
    {% include "comit/app-rebbon.html" with buttonId="40" %}
    {% include "comit/app-rebbon.html" with buttonId="41" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="42" %}

    {% include "comit/app-rebbon.html" with buttonId="43" %}
    {% include "comit/app-rebbon.html" with buttonId="44" %}

    {% include "comit/app-chart.html" with buttonId="45" %}
    {% include "comit/app-cover.html" %}

    {% include "comit/app-rebbon.html" with buttonId="46" %}
    {% include "comit/app-rebbon.html" with buttonId="47" %}

    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="48" %}

    {% include "comit/app-rebbon.html" with buttonId="49" %}
    {% include "comit/app-rebbon.html" with buttonId="50" %}
    {% include "comit/app-rebbon.html" with buttonId="51" %}
    {% include "comit/app-rebbon.html" with buttonId="52" %}

    {% include "comit/app-cover.html" %}

    {% include "comit/app-chart.html" with buttonId="53" %}

    {% include "comit/app-rebbon.html" with buttonId="54" %}
    {% include "comit/app-rebbon.html" with buttonId="55" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselid="one" %}



    {% include "comit/app-rebbon.html" with buttonId="56" %}
    {% include "comit/app-rebbon.html" with buttonId="57" %}
    {% include "comit/app-rebbon.html" with buttonId="58" %}
    {% include "comit/app-rebbon.html" with buttonId="59" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="60" %}

    {% include "comit/app-rebbon.html" with buttonId="61" %}
    {% include "comit/app-rebbon.html" with buttonId="62" %}

    {% include "comit/app-chart.html" with buttonId="63" %}
    {% include "comit/app-cover.html" %}

    {% include "comit/app-rebbon.html" with buttonId="64" %}
    {% include "comit/app-rebbon.html" with buttonId="65" %}

    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="66" %}

    {% include "comit/app-rebbon.html" with buttonId="67" %}
    {% include "comit/app-rebbon.html" with buttonId="68" %}
    {% include "comit/app-rebbon.html" with buttonId="69" %}
    {% include "comit/app-rebbon.html" with buttonId="70" %}

    {% include "comit/app-cover.html" %}

    {% include "comit/app-chart.html" with buttonId="71" %}

{% include "comit/app-rebbon.html" with buttonId="72" %}
    {% include "comit/app-rebbon.html" with buttonId="73" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselid="one" %}



    {% include "comit/app-rebbon.html" with buttonId="74" %}
    {% include "comit/app-rebbon.html" with buttonId="75" %}
    {% include "comit/app-rebbon.html" with buttonId="76" %}
    {% include "comit/app-rebbon.html" with buttonId="77" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="78" %}

    {% include "comit/app-rebbon.html" with buttonId="79" %}
    {% include "comit/app-rebbon.html" with buttonId="80" %}

    {% include "comit/app-chart.html" with buttonId="81" %}
    {% include "comit/app-cover.html" %}

    {% include "comit/app-rebbon.html" with buttonId="82" %}
    {% include "comit/app-rebbon.html" with buttonId="83" %}

    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="84" %}

    {% include "comit/app-rebbon.html" with buttonId="85" %}
    {% include "comit/app-rebbon.html" with buttonId="86" %}
    {% include "comit/app-rebbon.html" with buttonId="87" %}
    {% include "comit/app-rebbon.html" with buttonId="88" %}

    {% include "comit/app-cover.html" %}

    {% include "comit/app-chart.html" with buttonId="9" %}

{% include "comit/app-rebbon.html" with buttonId="89" %}
    {% include "comit/app-rebbon.html" with buttonId="90" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselid="one" %}



    {% include "comit/app-rebbon.html" with buttonId="91" %}
    {% include "comit/app-rebbon.html" with buttonId="92" %}
    {% include "comit/app-rebbon.html" with buttonId="93" %}
    {% include "comit/app-rebbon.html" with buttonId="94" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="96" %}

    {% include "comit/app-rebbon.html" with buttonId="97" %}
    {% include "comit/app-rebbon.html" with buttonId="98" %}

    {% include "comit/app-chart.html" with buttonId="99" %}
    {% include "comit/app-cover.html" %}

    {% include "comit/app-rebbon.html" with buttonId="100" %}
    {% include "comit/app-rebbon.html" with buttonId="101" %}

    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="102" %}

    {% include "comit/app-rebbon.html" with buttonId="103" %}
    {% include "comit/app-rebbon.html" with buttonId="104" %}
    {% include "comit/app-rebbon.html" with buttonId="105" %}
    {% include "comit/app-rebbon.html" with buttonId="106" %}

    {% include "comit/app-cover.html" %}

    {% include "comit/app-chart.html" with buttonId="107" %}

{% include "comit/app-rebbon.html" with buttonId="108" %}
    {% include "comit/app-rebbon.html" with buttonId="109" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselid="one" %}



    {% include "comit/app-rebbon.html" with buttonId="110" %}
    {% include "comit/app-rebbon.html" with buttonId="111" %}
    {% include "comit/app-rebbon.html" with buttonId="112" %}
    {% include "comit/app-rebbon.html" with buttonId="113" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="114" %}

    {% include "comit/app-rebbon.html" with buttonId="115" %}
    {% include "comit/app-rebbon.html" with buttonId="116" %}

    {% include "comit/app-chart.html" with buttonId="117" %}
    {% include "comit/app-cover.html" %}

    {% include "comit/app-rebbon.html" with buttonId="118" %}
    {% include "comit/app-rebbon.html" with buttonId="119" %}

    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="120" %}

    {% include "comit/app-rebbon.html" with buttonId="121" %}
    {% include "comit/app-rebbon.html" with buttonId="122" %}
    {% include "comit/app-rebbon.html" with buttonId="123" %}
    {% include "comit/app-rebbon.html" with buttonId="124" %}

    {% include "comit/app-cover.html" %}

    {% include "comit/app-chart.html" with buttonId="125" %}

{% include "comit/app-rebbon.html" with buttonId="126" %}
    {% include "comit/app-rebbon.html" with buttonId="127" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselid="one" %}



    {% include "comit/app-rebbon.html" with buttonId="128" %}
    {% include "comit/app-rebbon.html" with buttonId="129" %}
    {% include "comit/app-rebbon.html" with buttonId="130" %}
    {% include "comit/app-rebbon.html" with buttonId="131" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="132" %}

    {% include "comit/app-rebbon.html" with buttonId="133" %}
    {% include "comit/app-rebbon.html" with buttonId="134" %}

    {% include "comit/app-chart.html" with buttonId="135" %}
    {% include "comit/app-cover.html" %}

    {% include "comit/app-rebbon.html" with buttonId="136" %}
    {% include "comit/app-rebbon.html" with buttonId="137" %}

    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="138" %}

    {% include "comit/app-rebbon.html" with buttonId="139" %}
    {% include "comit/app-rebbon.html" with buttonId="140" %}
    {% include "comit/app-rebbon.html" with buttonId="141" %}
    {% include "comit/app-rebbon.html" with buttonId="142" %}

    {% include "comit/app-cover.html" %}

    {% include "comit/app-chart.html" with buttonId="143" %}

    {% include "comit/app-rebbon.html" with buttonId="144" %}
    {% include "comit/app-rebbon.html" with buttonId="145" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselid="one" %}



    {% include "comit/app-rebbon.html" with buttonId="146" %}
    {% include "comit/app-rebbon.html" with buttonId="147" %}
    {% include "comit/app-rebbon.html" with buttonId="148" %}
    {% include "comit/app-rebbon.html" with buttonId="149" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="150" %}

    {% include "comit/app-rebbon.html" with buttonId="151" %}
    {% include "comit/app-rebbon.html" with buttonId="152" %}

    {% include "comit/app-chart.html" with buttonId="153" %}
    {% include "comit/app-cover.html" %}

    {% include "comit/app-rebbon.html" with buttonId="154" %}
    {% include "comit/app-rebbon.html" with buttonId="155" %}

    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="156" %}

    {% include "comit/app-rebbon.html" with buttonId="157" %}
    {% include "comit/app-rebbon.html" with buttonId="158" %}
    {% include "comit/app-rebbon.html" with buttonId="159" %}
    {% include "comit/app-rebbon.html" with buttonId="160" %}

    {% include "comit/app-cover.html" %}

    {% include "comit/app-chart.html" with buttonId="161" %}

    {% include "comit/app-rebbon.html" with buttonId="162" %}
    {% include "comit/app-rebbon.html" with buttonId="163" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselid="one" %}



    {% include "comit/app-rebbon.html" with buttonId="164" %}
    {% include "comit/app-rebbon.html" with buttonId="165" %}
    {% include "comit/app-rebbon.html" with buttonId="166" %}
    {% include "comit/app-rebbon.html" with buttonId="167" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="168" %}

    {% include "comit/app-rebbon.html" with buttonId="169" %}
    {% include "comit/app-rebbon.html" with buttonId="170" %}

    {% include "comit/app-chart.html" with buttonId="171" %}
    {% include "comit/app-cover.html" %}

    {% include "comit/app-rebbon.html" with buttonId="172" %}
    {% include "comit/app-rebbon.html" with buttonId="173" %}

    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="174" %}

    {% include "comit/app-rebbon.html" with buttonId="175" %}
    {% include "comit/app-rebbon.html" with buttonId="176" %}
    {% include "comit/app-rebbon.html" with buttonId="177" %}
    {% include "comit/app-rebbon.html" with buttonId="178" %}

    {% include "comit/app-cover.html" %}

    {% include "comit/app-chart.html" with buttonId="179" %}

{% include "comit/app-rebbon.html" with buttonId="180" %}
    {% include "comit/app-rebbon.html" with buttonId="181" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselid="one" %}



    {% include "comit/app-rebbon.html" with buttonId="182" %}
    {% include "comit/app-rebbon.html" with buttonId="183" %}
    {% include "comit/app-rebbon.html" with buttonId="184" %}
    {% include "comit/app-rebbon.html" with buttonId="185" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="186" %}

    {% include "comit/app-rebbon.html" with buttonId="187" %}
    {% include "comit/app-rebbon.html" with buttonId="188" %}

    {% include "comit/app-chart.html" with buttonId="189" %}
    {% include "comit/app-cover.html" %}

    {% include "comit/app-rebbon.html" with buttonId="190" %}
    {% include "comit/app-rebbon.html" with buttonId="191" %}

    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="192" %}

    {% include "comit/app-rebbon.html" with buttonId="193" %}
    {% include "comit/app-rebbon.html" with buttonId="194" %}
    {% include "comit/app-rebbon.html" with buttonId="195" %}
    {% include "comit/app-rebbon.html" with buttonId="196" %}

    {% include "comit/app-cover.html" %}

    {% include "comit/app-chart.html" with buttonId="197" %}

{% include "comit/app-rebbon.html" with buttonId="0" %}
    {% include "comit/app-rebbon.html" with buttonId="198" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselid="one" %}



    {% include "comit/app-rebbon.html" with buttonId="199" %}
    {% include "comit/app-rebbon.html" with buttonId="200" %}
    {% include "comit/app-rebbon.html" with buttonId="201" %}
    {% include "comit/app-rebbon.html" with buttonId="202" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="203" %}

    {% include "comit/app-rebbon.html" with buttonId="204" %}
    {% include "comit/app-rebbon.html" with buttonId="205" %}

    {% include "comit/app-chart.html" with buttonId="206" %}
    {% include "comit/app-cover.html" %}

    {% include "comit/app-rebbon.html" with buttonId="207" %}
    {% include "comit/app-rebbon.html" with buttonId="208" %}

    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="209" %}

    {% include "comit/app-rebbon.html" with buttonId="210" %}
    {% include "comit/app-rebbon.html" with buttonId="211" %}
    {% include "comit/app-rebbon.html" with buttonId="212" %}
    {% include "comit/app-rebbon.html" with buttonId="213" %}

    {% include "comit/app-cover.html" %}

    {% include "comit/app-chart.html" with buttonId="214" %}

{% include "comit/app-rebbon.html" with buttonId="215" %}
    {% include "comit/app-rebbon.html" with buttonId="216" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselid="one" %}



    {% include "comit/app-rebbon.html" with buttonId="217" %}
    {% include "comit/app-rebbon.html" with buttonId="218" %}
    {% include "comit/app-rebbon.html" with buttonId="219" %}
    {% include "comit/app-rebbon.html" with buttonId="220" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="221" %}

    {% include "comit/app-rebbon.html" with buttonId="222" %}
    {% include "comit/app-rebbon.html" with buttonId="223" %}

    {% include "comit/app-chart.html" with buttonId="224" %}
    {% include "comit/app-cover.html" %}

    {% include "comit/app-rebbon.html" with buttonId="225" %}
    {% include "comit/app-rebbon.html" with buttonId="226" %}

    {% include "comit/banner.html" with carouselId="two" %}

    {% include "comit/movie-rebbon.html" with buttonId="227" %}

    {% include "comit/app-rebbon.html" with buttonId="228" %}
    {% include "comit/app-rebbon.html" with buttonId="229" %}
    {% include "comit/app-rebbon.html" with buttonId="230" %}
    {% include "comit/app-rebbon.html" with buttonId="231" %}

    {% include "comit/app-cover.html" %}

    {% include "comit/app-chart.html" with buttonId="9" %}



{% endblock %}