{% extends "comit/base.html" %}

{% block title %} index temp {% endblock %} 

{% block body %} 
    {% include "comit/nav-bar.html" %}

    {% include "comit/big-banner.html" %}
    {% include "comit/app-rebbon.html" with buttonId="0" %}
    {% include "comit/app-rebbon.html" with buttonId="1" %}

    {% include "comit/app-cover.html" %}
    {% include "comit/banner.html" with carouselid="1" %}



    {% include "comit/news-rebbon.html" with buttonId="2" %}

    {% include "comit/app-chart.html" with buttonId="3" %}

{% endblock %}