<!-- movies rebbon -->
<div class="container main-elements">
    <!-- bs 4 -->
    <h5>Top Movies</h5>
    <div class="containers">
      <!-- custom class -->
      <div class="slider-container">
        <!-- custom class -->
        <div class="slides">
          <!-- row -->
          <div class="slide ml-3">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 200px; width: 150px"
                src="https://play-lh.googleusercontent.com/Cq6Xjn0XzML7nlZT7zu3oThgIlDmgSn3OgdYpyy-FHIPK9OyP1Sl_H_sZQec9IRyfTnrZPon-vs7WbGYOw4=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide ml-3">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 200px; width: 150px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide ml-3">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 200px; width: 150px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide ml-3">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 200px; width: 150px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide ml-3">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 200px; width: 150px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide ml-3">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 200px; width: 150px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide ml-3">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 200px; width: 150px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide ml-3">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 200px; width: 150px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide ml-3">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 200px; width: 150px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <div class="slide ml-3">
            <!-- single icon-->
            <div class="card" style="border: none; align-items: center">
              <img
                class="card-img-top"
                style="border-radius: 20px; height: 200px; width: 150px"
                src="https://play-lh.googleusercontent.com/r9zF77jorOmkaRlXnvsLiuVQ3p_gYW8y7x_UL-COoH9PxaTUEMbW1wiwS0z1n1Q31Q=s256-rw"
                alt="App Icon"
              />
              <div class="card-body">
                <h5 class="card-title">App Name</h5>
              </div>
            </div>
          </div>
          <!-- Repeat the above 'slide' div for each movie icon -->
        </div>
      </div>
    </div>
    <div class="button-container">
      <button onclick="prevSlide({{buttonId}})">Prev</button>
      <button onclick="nextSlide({{buttonId}})">Next</button>
    </div>
  </div>