<!-- nav bar -->
<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img
      src="https://hubpng.com/files/preview/1280x1277/png-transparent-zen-by-tonton-ngo-red-zen-circle-png-116794429751fwaadal7mspwgbm1ntqexdi2owjjfn27r54ghfk46wbkts5gffg7tgdgvi69bpnqotqqw0qliddcdmepg78i.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt="logo"
    />
    Comit
  </a>
  <div class="navbar-nav mr-auto">
    <a class="nav-item nav-link active" href="#"
      >Home <span class="sr-only">(current)</span></a
    >
    <a class="nav-item nav-link" href="#">Features</a>
    <a class="nav-item nav-link" href="#">Pricing</a>
  </div>
  <form class="form-inline my-2 my-lg-0 ml-auto">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      style="border-radius: 25px"
    />
    <button
      class="btn btn-outline-success my-2 my-sm-0 rounded-circle"
      type="submit"
    >
      <i class="fa fa-search"></i>
    </button>
  </form>
</nav>
