<!-- app rebbon -->
<div class="container main-elements">
  <!-- bs 4 -->
  <h5>Top Apps</h5>
  <div class="containers">
    <!-- custom class -->
    <div class="slider-container">
      <!-- custom class -->
      <div class="slides">
        <!-- row -->
        <div class="slide ml-3">
          <!-- single icon-->
          <div class="card" style="border: none; align-items: center">
            <img
              class="card-img-top"
              style="border-radius: 20px; height: 300px; width: 525px"
              src="https://play-lh.googleusercontent.com/oJbTjnSAu8jf3g5yQwiF9YWZL0vJeVQU_-KiEf9ayj2woRe9jSZ5HKo8nl87Wd7Con4=w648-h364-rw"
              alt="App Icon"
            />
            <div class="card-img-overlay text-white">
              <h5 >lmnaklc kc ckkmkck kkm qkwm  cw  wmknnwkcmowc  c w</h5>
            </div>
          </div>
        </div>
        <div class="slide ml-3">
          <!-- single icon-->
          <div class="card" style="border: none; align-items: center">
            <img
              class="card-img-top"
              style="border-radius: 20px; height: 300px; width: 525px"
              src="https://play-lh.googleusercontent.com/oJbTjnSAu8jf3g5yQwiF9YWZL0vJeVQU_-KiEf9ayj2woRe9jSZ5HKo8nl87Wd7Con4=w648-h364-rw"
              alt="App Icon"
            />
            <div class="card-img-overlay text-white">
              <h5 >lmnaklc kc ckkmkck kkm qkwm  cw  wmknnwkcmowc  c w</h5>
            </div>
          </div>
        </div>
        <div class="slide ml-3">
          <!-- single icon-->
          <div class="card" style="border: none; align-items: center">
            <img
              class="card-img-top"
              style="border-radius: 20px; height: 300px; width: 525px"
              src="https://play-lh.googleusercontent.com/oJbTjnSAu8jf3g5yQwiF9YWZL0vJeVQU_-KiEf9ayj2woRe9jSZ5HKo8nl87Wd7Con4=w648-h364-rw"
              alt="App Icon"
            />
            <div class="card-img-overlay text-white">
              <h5 >lmnaklc kc ckkmkck kkm qkwm  cw  wmknnwkcmowc  c w</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="button-container">
    <button onclick="prevSlide({{buttonId}})">Prev</button>
    <button onclick="nextSlide({{buttonId}})">Next</button>
  </div>
</div>