<!-- app rebbon -->
<div class="container main-elements">
  <!-- bs 4 -->
  <h5>Top Apps</h5>
  <div class="containers">
    <!-- custom class -->
    <div class="slider-container">
      <!-- custom class -->
      <div class="slides" style="justify-content:space-between;">
        <!-- row -->
        <div class="slide ">
          <!-- single icon-->
          <div class="card" style="border: none; align-items: center; height: 300px; width: 525px">
            <img
              class="card-img-top"
              style="border-radius: 20px;"
              src="https://play-lh.googleusercontent.com/oJbTjnSAu8jf3g5yQwiF9YWZL0vJeVQU_-KiEf9ayj2woRe9jSZ5HKo8nl87Wd7Con4=w648-h364-rw"
              alt="App Icon"
            />
            <div class="card-img-overlay text-white d-flex align-items-end">
              <h5 >lmnaklc kc ckkmkck kkm qkwm  cw  wmknnwkcmowc  c w</h5>
            </div>
          </div>
        </div>
        <div class="slide ">
          <!-- single icon-->
          <div class="card" style="border: none; align-items: center; height: 300px; width: 525px">
            <img
              class="card-img-top"
              style="border-radius: 20px;"
              src="https://play-lh.googleusercontent.com/oJbTjnSAu8jf3g5yQwiF9YWZL0vJeVQU_-KiEf9ayj2woRe9jSZ5HKo8nl87Wd7Con4=w648-h364-rw"
              alt="App Icon"
            />
            <div class="card-img-overlay text-white d-flex align-items-end">
              <h5 class="">lmnaklc kc ckkmkck kkm qkwm  cw  wmknnwkcmowc  c w</h5>
            </div>
          </div>
        </div>
        <!-- Repeat the above 'col-sm-2' div for each app icon -->
      </div>
    </div>
  </div>
</div>